---
title: Austerweil Lab | People
layout: default
---
<div class='labphotocontainer'>
<img src="/img/lab-photos/2020-spring.jpeg">
<br>
<span class='photoyear'>Spring 2020</span>
</div>

{% for group in site.data.people %}
	<hr>
	<table>
	<h2>{{group[1].label}}</h2>

	{% for person in group[1].people %}
	<tr>
		<td class = "peopleinfo">
			{% if group[0] == "1_overlord" %}
				<h2>{{person.name}}</h2>
			{% else %}
			 	<h3>{{person.name}}</h3>
			{% endif %}
			<p><i>{{person.title}}</i></p>
			{% if person.email %}
			<p><a href="mailto:{{person.email}}">{{person.email}}</a></p>
			{% endif %}
			<p>{{person.blurb}}
			{% if person.website %}
				[<a href="{{person.website}}">Personal Webpage</a>]
			{% endif %}
			</p>
		</td>
		<td class = 'picturecell'>
			<img class = 'peoplepic'
			src="{% if person.image %}{{ person.image }}{% else %}/img/people/default.jpg{% endif %}"
			>
		</td>
	</tr>
	{% endfor %}
	</table>
{% endfor %}

<style type="text/css">

	.peopleinfo {
		padding-right: 50px;
	}

	.picturecell {
		text-align: right;
		vertical-align: middle;
	}

	.peoplepic {
		width: 5em;
	}

	.labphotocontainer img {
		width: 95%;
		max-width: 500px;
		margin: 0 auto;
		align-content: center;
	}

	.labphotocontainer {
		text-align: center;
	}
	.photoyear {
		font-size: 0.8em;
	}
</style>
