<div id="topper">
<div id="navbar">
<nav>
	<ul>
		<li class = "imagecell"><a href="/"><img class = "imagenav" src="/img/misc/BrainOfRobots3.png" /></a></li>
		<li><a href="/people">People</a></li>
    	<li><a href="/papers">Papers</a></li>
    	<li><a href="/projects">Projects</a></li>
    	<li class = "imagecell"><a href="https://github.com/AusterweilLab/"><img class = "imagenav" src="/img/github-mark/GitHub-Mark-32px.png" /></a></li>

	</ul>
</nav>
</div>
</div>
<hr>

<style type="text/css">
</style>