---
title: Austerweil Lab | Papers
layout: default
---

<div id="tag_nav">
	{% for tag in site.data.tagcolors %}
		<span class='papertag {{tag[0] | replace:' ','_'}}'>
			<a onclick="findRows('{{tag[0] | replace:' ','_'}}')">{{tag[0]}}</a>
		</span>
	{% endfor %}
</div>

<p class = 'show_all'> <a onclick="findRows('SHOW EVERYTHING')">Show all papers.</a> </p>

<div id='all_paper_groups'>

{% assign yearGroups = site.data.papers | sort:"year" | reverse | group_by:"year" %}
{% for year in yearGroups %}

<h2>{{year.name}}</h2>

<table class='papertable'>
{% for paper in year.items %}
<tr class = 'paperrow'>

<td class = 'metacell'>
	{% if paper.URL %}
		<a href="{{paper.URL}}">URL</a>
	{% endif %}
	
	
	<hr>
	{% if paper.abstract %}
		<a onclick = 'toggleDiv("{{paper.id}}")' > Abstract</a>
	{% endif %}
</td>

<!-- format citation -->
<td class = 'citationcell'>

	

	<!-- authors -->
	{% for author in paper.author %}
	
	<!-- add ampersand if there is more than one author
         and this is the last author -->
	{% if forloop.last %}
		{% if forloop.first == false %}
			&amp;
		{% endif %}
	{% endif %}

	<!-- author info, add comma is not the last author -->
	{{author.family}}, {{author.given}}{% if forloop.last == false %},{% endif %}
	{%endfor%}

	<!-- year, title, journal -->
	({{paper.year}}).
	{{paper.title}}

	<!-- FORMATTING FOR CONFERENCE PAPERS -->
	{% if paper.type contains 'conference' or paper.type contains 'chapter' %}
	{% if paper.editor %}
		In 
		{% for author in paper.editor %}
	
		<!-- add ampersand if there is more than one author
	         and this is the last author -->
		{% if forloop.last %}
			{% if forloop.first == false %}
				&amp;
			{% endif %}
		{% endif %}

		<!-- author info, add comma is not the last author -->
		{{author.given}} {{author.family}}{% if forloop.last == false %},{% endif %}
		{%endfor%}
		(Ed.),
	{% endif %}

	<i>{{paper.container-title}}</i>
	{% if paper.page %}(pp. {{paper.page}}).{% else %}.{% endif %}
	{% if paper.publisherplace %}
		{{paper.publisherplace}}: {{paper.publisher}}.
	{% else %}
		{% if paper.page %} {% else %}.{% endif %}
	{% endif %}
	
	<!-- FORMATTING FOR JOURNAL PAPERS-->
	{% else %}
	<i>{{paper.container-title}}</i>, 
	{{paper.volume}}{% if paper.issue %}({{paper.issue}}){% endif %},
	{{paper.page}}.
	{% endif %}
	
	
	<!-- tags -->
	{% if paper.tags %}
		<div class = 'tagdiv'>
		Tags: 
		{% for tag in paper.tags %}
			<span class='papertag {{tag | replace:' ','_'}}'>
			<a onclick="findRows('{{tag | replace:' ','_'}}')">{{tag}}</a>
			</span>
		{% endfor %}
		</div>
	{% endif %}

	


{% if paper.abstract %}
	<div class = 'abstract' id = "{{paper.id}}">
{{paper.abstract}}
	</div>
{% endif %}

</td>
</tr>

{% endfor %}
</table>


{% endfor %}
</div>



<p class = 'show_all'> <a onclick="findRows('SHOW EVERYTHING')">Show all papers.</a> </p>




<style type="text/css">
	.abstract {
		display: none;
		font-style: italic;
		padding: 10px 0px;
		font-size: 0.8em;
		text-align: justify;
		padding-right: 4px;
	}

	table {
		width:100%;
		border-collapse: collapse;
		border-bottom: 1px solid #424242;
	}

	tr {
		border-top: 1px solid #424242;
		border-collapse: collapse;
	}

	tr:nth-child(even) {
	    background-color: #ECEFF1;
	}

	td {
		padding: 10px 0;
	}

	.citationcell {
		font-size: 0.9em;
	}
	.metacell {
		width: 18%;
		text-align: center;
		font-size: 0.75em;
		padding: 5px;
		padding-right: 15px;
	}

	.tagdiv {
		padding:  10px;
		font-size: 0.8em;
	}

	.papertag {
		padding: 2px 4px;
		margin: 0 1px;
		border: 1px solid #424242;
		border-radius: 25px;
		display: inline-block;
	}

	.papertag a {
		color: inherit;
	}

	.show_all {
		text-align: center;
		display: none;
	}
	.show_all a {
		color: inherit;
		background-color: ;
	}

	#tag_nav {
		font-size: 0.8em;
		width: 100%;
		margin: auto;
		text-align: center;
	}

	#tag_nav .papertag {
		padding: 2px 3px;
		margin: 2px 0;
	}


	{% for tag in site.data.tagcolors %}
		.{{tag[0] | replace:' ','_'}} {
			background-color: {{tag[1]}};
		}
	{% endfor %}
</style>


	

<script type="text/javascript">
	function toggleDiv(id) {
	    var div = document.getElementById(id);
	    if (div.style.display == 'none') {
	    	div.style.display = 'block';
	    } else if (div.style.display == 'block') {
	    	div.style.display = 'none';
	    } else {
	    	div.style.display = 'block';
	    }
	}

	function findRows(tag) {
		var rows = document.getElementsByClassName("paperrow")
		for (var i = 0; i < rows.length; i++) {
			var row = rows[i];
			if (tag == 'SHOW EVERYTHING') {
				row.style.display = 'block';
				continue
			}
			var possible_spans = row.getElementsByClassName(tag);
			if (possible_spans.length == 0) {
				row.style.display = 'none';
			} else {
				row.style.display = 'block';
			}
		}

		var buttons = document.getElementsByClassName("show_all");
		for (var i = 0; i < buttons.length; i++) {
			if (tag != 'SHOW EVERYTHING') {
				buttons[i].style.display = 'block';
			} else {
				buttons[i].style.display = 'none';
			}
		}

	}


</script>



