---
layout: default
---

<h1>{{page.title}}</h1>


<div id="pmeta">

<table>
	<tr>
	<td>
		<div id="pdate">{{ page.date | date:"%B %d %Y" }}</div>
	</td>
	
	<td align="right">
		<div id="pkeywords">
		  <span id='keywordspan'>Keywords: </span>
		  {%for tag in page.tags%}
		  <code>{{tag}}</code>
		  {%endfor%}
		</div>
	</td>
</table>		
</div>


<div id = 'content'>

<div id = "mypost">
	{{page.content}}
</div>
</div>




<style type="text/css">
	
	/* metas */
	#ptitle {
		margin-bottom: 10px;
	}
	#pmeta {
		padding-right: 5px;
	}
	#pmeta td {
		vertical-align: top;
		color: #BDBDBD;
	}
	
	#pmeta table {
		width: 100%;
	}
	
	#mypost .datatable  { 
	  border-collapse: collapse;
	  border: 1px solid #37474F;  
	  border-radius: 15px;
	  margin: 10px auto;
	  padding: 0 20px;
	}

	#mypost .datatable tr:nth-of-type(odd) { 
	  background: #F5F5F5; 
	}
	#mypost .datatable th { 
	  background: #37474F;
	  border: 1px solid #37474F; 
	  color: #ECEFF1; 
	  font-weight: bold; 
	}
	#mypost .datatable td, th{ 
		padding: 0.2em 1em;
		border: 1px solid #546E7A;
		text-align: left; 
	}

	/* images */
	#mypost img {
		max-width: 100%;
		max-height: 250px;
		object-fit: scale-down;
		display: block;
		margin: auto;
	  }
</style>
